<div class="row align-items-start">
  <div id="inscription-form">
    <p>Inscription</p>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="mb-3">
          <input matInput #identifiant placeholder="Email">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="mb-3">
          <input matInput #password placeholder="Mot de passe">
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button (click)="signup(identifiant.value, password.value)">Sign up</button>
  </div>

  <div id="connexion-form">
    <p>Connexion</p>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="mb-3">
          <input matInput #identifiantL placeholder="Email" value="mathistryla@gmail.com">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="mb-3">
          <input matInput #passwordL placeholder="Mot de passe" value="federer">
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button (click)="login(identifiantL.value, passwordL.value)">Sign in</button>
  </div>
</div>

