<mat-form-field>
  <mat-label>Rechercher :</mat-label>
  <input matInput placeholder="Pokémon" (change)="onChangeEvent($event)">
</mat-form-field>
<mat-nav-list (scrolled)="onScroll($event)" infinite-scroll>
  <mat-list-item *ngFor="let pokemon of pokemons?.data" (click)="displayDetails(pokemon)"><!-- routerLink="/pokemons/{{pokemon.id}}" -->
    <img matListAvatar src="../../../assets/img/sprites/{{pokemon.id}}.png" alt="{{pokemon.id}}">
    <p matLine>{{ pokemon.id }}</p>
    <p matLine>{{ pokemon.name }}</p>
  </mat-list-item>
</mat-nav-list>
