<div class="container">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput placeholder="Pokemon" [ngModel]="search" (ngModelChange)="onChangeEvent($event)">
  </mat-form-field>
  <mat-nav-list (scrolled)="onScroll($event)" infinite-scroll>
    <mat-list-item *ngFor="let pokemon of pokemons?.data" (click)="displayDetails(pokemon)" id="{{pokemon.id}}">
      <img matListAvatar src="../../../assets/img/sprites/{{pokemon.id}}.png" alt="{{pokemon.id}}">
      <p matLine>{{ pokemon.id }}</p>
      <p matLine>{{ pokemon.name }}</p>
      <span #added></span>
      <button mat-button class="add-pk-btn"><mat-icon (click)="addPkToTeam(pokemon)">add</mat-icon></button>
    </mat-list-item>
  </mat-nav-list>
</div>
