<mat-card *ngIf="pokemon" id="matCard" style="background-color: red;">
  <mat-grid-list cols="2" rowHeight="2:1" class="main-grid-list">

    <mat-grid-tile>
      <mat-list>
          <mat-list-item>
            <img src="../../../assets/img/sprites/{{pokemon.id}}.png" class="pokemon-img">
          </mat-list-item>
          <mat-list-item>
            <p>No {{ pokemon.id | number:'3.0-0' }}</p>
          </mat-list-item>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-list cols="1" rowHeight="4:1">
        <mat-list>
          <mat-list-item>
            <p class="pokemon-name">{{ pokemon.name }}</p>
            <mat-icon class="mat-icon" (click)="playPokemonSound(pokemon.id)">play_circle_outline</mat-icon>
          </mat-list-item>
        </mat-list>
        <mat-chip-list cdkDropListOrientation="horizontal">
          <mat-chip *ngFor="let type of pokemon.types">{{ type }}</mat-chip>
        </mat-chip-list>
        <mat-list>
          <mat-list-item>
            <p>Taille: {{ pokemon.height | number:'1.1-1' }} m</p>
          </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item>
            <p>Poids: {{ pokemon.weight | number:'1.1-1' }} kg</p>
          </mat-list-item>
        </mat-list>
      </mat-grid-list>
    </mat-grid-tile>

    <mat-grid-tile colspan=2 row=1>
      <p>{{ pokemon.description }}</p>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
